.con-img {
    background-color: rgb(245, 245, 245);
    position: relative;
    left: 50%;
    padding: 30px;
    width: 300px;
    height: 300px;
    margin-left: -180px;
}

.te-con {
    font-size: 20px;
    margin-top: 70px;
    margin-bottom: 5px;
}

.re-img {
    width: 100%;
    height: 100%;
}

.r-arr {
    width: 80px;
    filter: invert(72%) sepia(19%) saturate(852%) hue-rotate(210deg) brightness(103%) contrast(103%);
}

.context {
    display: grid;
    grid-template-columns: 0.4fr 0.2fr 0.4fr;
    text-align: center;
}

#File_Upload {
    display: none;
}

.warn {
    width: 78%;
    background-color: rgb(245, 245, 245);
    padding: 1%;
    height: 88%;
    position: relative;
    left: 50%;
    top:50%;
    margin-top: -45%;
    margin-left: -40%;
}

.img-btn {
    background-color: rgb(207, 189, 255);
    color: rgb(115, 65, 252);
    padding: 10px 20px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    transition: 0.8s;
}